<html>
<head>
<link rel="stylesheet" type="text/css" href="/sample.css"/>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">  
$(function(){
	$("#login").click(function(){
		var username=$("#username").val();
		var password=$("#password").val();
		var user={"userName":username,"password":password};
		$.ajax({
			type:"post",
			url:"/insurance/login",
			data:JSON.stringify(user),
			contentType:"application/json",
			dataType:"json",
			success:function(result){
				window.location=result.data.redirectUrl;
			},
			error:function(e){
				alert("出错:"+e);
			}
		});
	});
});
</script>
</head>
<body>
<div class="p1">
</div>
<div class="p">
<h1 align="center"><label class="label-control">User Login</label></h1>
	<table align="center" cellspacing="20px">
		<tr>
			<td><label class="label-control font">用户名：</label></td>
			<td><input class="table-control" type="text" id="username" style="width: 200px" value="zhangsan"></input></td>
		</tr>
		<tr>
			<td><label class="label-control font">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label></td>
			<td><input class="table-control" type="password" id="password" style="width: 200px" value="123456"></input></td>
		</tr>
		<tr>
			<td align="left"><input class="button green" type="button" id="login"  value="Login" style="width: 100px"></input></td>
			<td align="right"><input class="button green" type="button" id="cancel" value="Cancel" style="width: 100px"></input></td>
		</tr>
	</table>
</div>
</body>
</html>