<html>
<head>
<script src="/static/index.js"></script>
</head>
<body>
<h1 align="center">用户登录</h1>
<div>
	<table align="center">
		<tr>
			<td>用户名：</td>
			<td><input type="text" name="username" id="username" style="width: 200px" value="zhangsan"/></td>
		</tr>
		<tr>
			<td>密&nbsp;&nbsp;&nbsp;&nbsp;码：</td>
			<td><input type="password" name="password" id="password" style="width: 200px" value="123456" /></td>
		</tr>
		<tr>
			<td align="left"><input type="submit" id="login" value="登录" style="width: 100px" /></td>
			<td align="right"><input type="submit" id="cancel" value="取消" style="width: 100px" /></td>
		</tr>
	</table>
</div>
</body>
</html>